@model IEnumerable<ConsumeWebApi.Models.order.GetOrder>

@{
	ViewData["Title"] = "Index";
}

<h1>Orders</h1>

<div class="d-flex justify-content-between mb-3">
	<a asp-controller="Order" asp-action="Create" class="btn btn-outline-success">Create New</a>

	<div class="d-flex">
		<form method="get" class="col-2 mb-2 me-2" asp-controller="Order" asp-action="Index">
			<div class="input-group">
				<input type="hidden" name="status" value="@ViewBag.status" />
				<input type="hidden" name="search" value="@ViewBag.CurrentSearch" />

				<input type="number" name="pageSize" class="form-control" value="@ViewBag.pageSize" placeholder="size" />
				<input type="number" name="pageNumber" class="form-control" value="@ViewBag.pageNumber" placeholder="no." />

				<button type="submit" class="btn btn-secondary">
					<i class="bi bi-display"></i>
				</button>
			</div>
		</form>
		<form method="get" class="col-4 me-3" asp-controller="Order" asp-action="Index">
			<input type="hidden" name="search" value="@ViewBag.CurrentSearch" />
			<input type="hidden" name="pageSize" value="@ViewBag.pageSize" />
			<input type="hidden" name="pageNumber" value="@ViewBag.pageNumber" />
			<div class="input-group">

				<select class="form-select" name="status" onchange="this.form.submit()" asp-items="@ViewBag.AllStatus">
					<option value="0">Filter</option>
				</select>
				<div class="input-group-append">
					<span class="input-group-text">
						<i class="bi bi-filter"></i>
					</span>
				</div>
			</div>
		</form>
		<form method="get" class="col-4 mb-2 me-3" asp-controller="Order" asp-action="Index">
			<div class="input-group">
				<input type="hidden" name="status" value="@ViewBag.status" />
				<input type="hidden" name="pageSize" value="@ViewBag.pageSize" />
				<input type="hidden" name="pageNumber" value="@ViewBag.pageNumber" />
				<input type="text" name="search" class="form-control" value="@ViewBag.CurrentSearch" placeholder="Search" />
				<button type="submit" class="btn btn-secondary">
					<i class="bi bi-search"></i>
				</button>
			</div>
		</form>

		@*<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="bi bi-sort-up"></i>
		</button>
		<div class="dropdown-menu" aria-labelledby="sortDropdown">
		<a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="SortName">Sort by Name</a>
		<a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="SortSalary">Sort by Salary</a>
		</div>
		</div>*@
	</div>
</div>


@if (Model.Count() > 0)
{
	<table class="table table-dark table-bordered table-striped table-hover">
		<thead>
			<tr class="table table-info">
				<th>
					@Html.DisplayNameFor(o=>o.Id)

				</th>
				<th>
					@Html.DisplayNameFor(o=>o.CustomerId)

				</th>
				<th>
					@Html.DisplayNameFor(o=>o.Address)

				</th>
				<th>
					@Html.DisplayNameFor(o=>o.Status)
				</th>
				<th>Operations</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr data-id="@item.Id">
					<td>@item.Id</td>
					<td>@item.customer.Name</td>
					<td>@item.Address</td>
					<td>
						<button class="btn btn-outline-primary">@item.Status</button>
					</td>
					<td>
						<a class="btn btn-outline-primary" asp-controller="Order" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-card-text"></i></a>
						<a class="btn btn-outline-success" asp-controller="Order" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
						<a class="btn btn-outline-danger" asp-controller="Order" asp-action="GetDelete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
					</td>
				</tr>
			}
		</tbody>
		<tfoot>
			@* <tr>
		<th colspan="4" style="text-align:right">Total Prices</th>
		<th>@Model.Sum(p=>p.price)</th>
		<th></th>
		</tr> *@
		</tfoot>
	</table>
}
else
{
	<h1 class="alert alert-danger text-center">There is no data.</h1>
}


@section Scripts
	{
	<script src="~/js/custom.js"></script>
}
